<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue Smaple</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<style>
#app-2 .error {
  color: red;
}
</style>

<div id="app-2">
  <input type="text" v-model="message">
    <div class="error" v-if="error.require">required</div>
    <div class="error" v-if="error.tooLong">too long</div>
  </div>
  <script>
  var app2 = new Vue({
    el: '#app-2',
    watch: {
      message: function(newVal, oldVal) {
        this.error.require = (newVal.length < 1) ? true : false;
        this.error.tooLong = (newVal.length > 5) ? true : false;
      }
    },
    data: {
      message: 'Hello',
      error: {
        require: false,
        tooLong: false
      }
    }
  })
  </script>
</body>
</html>